.left-padding{
    padding-right: 0 !important;
 }
 
 .logout{
     padding-left:0;
     padding-top:5px;
 }
 
.user-name{
    padding-top:15px;
}
.nav.navbar-right{
    .btn{
        color:#fff!important;
        margin_top:5%;
    }
    .btn-danger:hover{
        background-color:darken(#d9534f, 20%)!important;
    }
}